@import "../../styles/mixin";
.page-container {
    height: 100%;
    background-color: #eee;
    position: relative;
}

.tabs-container {
    position: absolute;
    height: 95%;
    top: 20rpx;
    left: 3%;
    width: 97%;
    .at-tabs__header {
        background-color: rgba(0, 0, 0, 0);
    }
    View.at-tabs-pane {
        background-color: #fff;
    }
    View.at-tabs__item {
        background-color: #bbb;
        margin-bottom: 30rpx;
        padding: 30rpx 10rpx;
        width: 42rpx;
        border-radius: 20rpx 0 0 20rpx;
        writing-mode: vertical-rl;
        &:first-child {
            margin-top: 30rpx;
        }
        color: rgba(248, 248, 248, 0.9);
    }
    View.at-tabs__item:nth-child(1) {
        background-color: rgba(112, 159, 239, 1);
    }
    View.at-tabs__item:nth-child(2) {
        background-color: rgba(241, 181, 85, 1);
    }
    View.at-tabs__item:nth-child(3) {
        background-color: rgba(238, 103, 117, 1);
    }
    View.at-tabs__item:nth-child(4) {
        background-color: rgba(114, 192, 116, 1);
    }
}

.tab-box {
    position: relative;
    padding: 16rpx;
    font-size: 26rpx;
    display: flex;
    align-items: stretch;

    .picker {
        padding-right: 12rpx;
        border-bottom:1px dashed #000;
    }

    .at-icon-chevron-down {
        margin-top: -5rpx;
    }

    .selectedDate {
        position: absolute;
        right: 20rpx;
        margin-top: -2rpx;
        padding: 0 30rpx;   //增大有效接触面积
        margin-right: -30rpx;
    }
}