@import "../../styles/mixin";
.header {
    // font-size: 30px;
    height: 80px;
    padding: 10px;
    background-color: #fff;
    color: rgba(117, 117, 119, 1);
    @include fja(space-between, center);
    .customer-type {
        width: 182px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        border-radius: 14px;
        overflow: hidden;
        background-color: rgba(236, 241, 247, 1);
    }
    Input {
        box-sizing: border-box;
        border-radius: 14px;
        background-color: rgba(236, 241, 247, 1);
        height: 70px;
        width: 80%;
        padding: 0 28px;
    }
    .search-content {
        @include fja(center, center);
        padding-left: 10px;
    }

    .btn-submit {
        height: 70px;
        line-height: 70px;
        background: $color-primary;
        font-size: 28px;
    }

    button {
        padding-left: 26px;
        padding-right: 26px;
    }
}
