@import "../../styles/mixin";

.swiper-container {
  width: 100%;
  max-height: 40%;
  height: 40%;
}

swiper-item {
  margin-top: -20rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 80%;
  width: 48%;
  border-radius: 50%;
  border: 16px solid #ddd;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .item-title {
    font-size: 28rpx;
  }

  .item-number {
    margin-top: -8rpx;
    font-size: 34rpx;
  }
}
