@import "../../styles/mixin";

.swiper-container {
  width: 100%;
  max-height: 40%;
  height: 35%;
  border: 1px solid #000;
}

.swiper {
  width: 100vw;
  height: 450px;
  image,img {
    height: 450px!important;
  }
}
