@import "../../assets/css/mixin.scss";

.container {
    padding: 15px;
}

.box-body {
    width: 100%;
    &>View:first-child {
        display: flex;
        height: 60rpx;
        line-height: 60rpx;
        justify-content: space-between;
        align-content: center;
        padding: 10rpx 0;
        border-bottom: 2rpx solid #bbb;
        color: rgba(112, 159, 239, 1);
    }
    .at-tag--circle {
        height: 56rpx;
    }
    .at-tag {
        padding: 0 26rpx;
    }
    .bill-item {
        padding: 16rpx 8rpx;
        border-bottom: 3rpx solid #ddd;
    }
    .bill-item {
        color: rgba(115, 115, 115, 1);
        font-size: 26rpx;
    }
    .bill-item>View {
        width: 100%;
        margin-bottom: 10rpx;
    }
    .bill-opt.writing {
        color: #fff;
        margin-left: 12rpx;
        background-color: #1fb7a6;
    }
    View.bill-tag {
        float: right;
        &>View {
            padding: 0 10rpx;
            right: 40rpx;
        }
    }

    View.bill-tag View {
        color: #fff;
    }

    View.bill-tag.shipped View {
        background-color: rgba(238, 103, 117, 1); 
    }
    View.bill-tag.paid View {
        background-color: rgba(114, 192, 116, 1);
    }
    View.bill-tag.uploaded View {
        background-color: rgba(112, 159, 239, 1);
    }
    View.bill-tag.received View {
        background-color: rgba(241, 181, 85, 1);
    }

    View.bill-tag.saved View {
        background-color: rgba(114, 192, 116, 1);
    }

    View.bill-tag.submitted View {
        background-color: rgba(241, 181, 85, 1);
    }

    View.bill-tag.audited View {
        background-color: rgba(238, 103, 117, 1);
    }

    View.bill-tag.invalid View {
        background-color: #aaa;
    }
    
    .bill-body {
        margin-top: 18rpx;
        color: #000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}