@import "../../assets/css/mixin.scss";
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.order-cell {
    width: 100%;
    margin-bottom: 12px;
    .title {
        width: 100%;
        padding: 4px 8px;
        font-size: 38px;
    }
    .box {
        padding: 8rpx 8rpx;
        border-bottom: 1px solid #888;
        box-shadow: 2px 2px 5px #888888;
        @include fja(space-around);
        font-size: 28px;

        .item-icon {
            width: 32px;
        }
    }
}