@import "../../../assets/css/mixin.scss";

.CustomerAR-container {
    padding: 30rpx 10rpx;
    @include fja(space-around);
    flex-wrap: wrap;
    align-content: center;
    .item {
        padding: 0 8px;
        width: 100%;
        @include fja(space-between);
        margin-bottom: 15px;
    }
    .body {
        border-top: 4px solid #999;
        width: 100%;
        .bill-container {
            width: 100%;
            margin-top: 8px;
            padding-bottom: 2px;
            background-color: #CCCCCC;
        }
    }
    .open-report {
        position: fixed;
        bottom: 40px;
        right: 60px;
    }
}