@import "../../../styles/mixin";
.container {
    // padding: 0 10px 20px 10px;
    @include fja(space-around);
    flex-wrap: wrap;
    align-content: center;

    view.card-box {
        margin-bottom: 12px;
    }

    view.at-card {
        border: 2PX solid $color-primary;
    }

    view.at-card-header {
        border-bottom: 1PX solid $color-primary;
    }

    .card-body {
        @include fja;
    }

    View.at-noticebar {
        text-align: center;
    }
}