@import "../../styles/mixin";
.container {
    width: 96vw;
}

.item {
    margin-bottom: 10px;
    @include fja(space-between);
    .item-btns {
        margin-left: 10rpx;
        box-sizing: border-box;
        width: 76%;
        height: 100%;
        display: inline-flex;
        justify-content: space-around;
        align-content: center;
        padding-top: 6rpx;
        .at-button--secondary {
            border: 1px solid $color-primary;
            color: $color-primary;
        }
    }
}